<!-- begin:: Page -->
<!--[html-partial:include:{"file":"partials\/_header-base-mobile.html"}]/-->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper " id="kt_wrapper">
            <!--[html-partial:include:{"file":"partials\/_header-base.html"}]/-->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                <div class="kt-container kt-body kt-grid kt-grid--ver" id="kt_body">
                    <!--[html-partial:include:{"file":"partials\/_content-base.html"}]/-->
                </div>
            </div>
            <!--[html-partial:include:{"file":"partials\/_footer-base.html"}]/-->
        </div>
    </div>
</div>
<!-- end:: Page -->
<!--[html-partial:include:{"file":"partials\/_layout-quick-panel.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-scrolltop.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-toolbar.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-demo-panel.html"}]/-->