<!-- begin:: Footer -->
<div class="kt-footer kt-footer--basic kt-grid__item" id="kt_footer" style="background-image: url('./assets/media/bg/bg-2.jpg');">
    <div class="kt-footer__bottom">
        <div class="kt-container">
            <div class="kt-footer__wrapper">
                <div class="kt-footer__logo">
                    <a class="kt-header__brand-logo" href="?page=index&amp;demo=demo2">
                        <img alt="Logo" src="./assets/media/logos/logo-4-sm.png" class="kt-header__brand-logo-sticky">
                    </a>
                    <div class="kt-footer__copyright">2019&nbsp;&copy;&nbsp; <a href="http://keenthemes.com/metronic" target="_blank">Keenthemes</a></div>
                </div>
                <div class="kt-footer__menu"><a href="http://keenthemes.com/metronic" target="_blank">Purchase Lisence</a><a href="http://keenthemes.com/metronic" target="_blank">Team</a><a href="http://keenthemes.com/metronic" target="_blank">Contact</a></div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Footer -->