<!-- begin: Header Menu -->
<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
<div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile " >
        <ul class="kt-menu__nav ">
            <li class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Dashboard</span><i class="kt-menu__hor-arrow la la-angle-down"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item kt-menu__item--active " aria-haspopup="true">
                            <a href="?page=index" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">Default Dashboard</span>
                            </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="?page=dashboards/fluid" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">Fluid Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Pages</span><i class="kt-menu__hor-arrow la la-angle-down"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="javascript:;" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">Create New Post</span>
                            </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="#" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">Generate Reports</span>
                                <span class="kt-menu__link-badge"><span class="kt-badge kt-badge--success">2</span></span>
                            </a>
                        </li>
                        <li class="kt-menu__item kt-menu__item--submenu" data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                            <a href="#" class="kt-menu__link kt-menu__toggle">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">Manage Orders</span><i class="kt-menu__hor-arrow la la-angle-right"></i>
                            </a>
                            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Latest Orders</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Pending Orders</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Processed Orders</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Delivery Reports</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Payments</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Customers</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="kt-menu__item kt-menu__item--submenu" data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                            <a href="#" class="kt-menu__link kt-menu__toggle">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">Customer Feedbacks</span><i class="kt-menu__hor-arrow la la-angle-right"></i>
                            </a>
                            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Customer Feedbacks</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Supplier Feedbacks</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Reviewed Feedbacks</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Resolved Feedbacks</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Feedback Reports</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="#" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">Register Member</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Reports</span><i class="kt-menu__hor-arrow la la-angle-down"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--fixed kt-menu__submenu--left" style="width:1000px">
                    <div class="kt-menu__subnav">
                        <ul class="kt-menu__content">
                            <li class="kt-menu__item ">
                                <h3 class="kt-menu__heading kt-menu__toggle">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Finance Reports</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </h3>
                                <ul class="kt-menu__inner">
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-map"></i><span class="kt-menu__link-text">Annual Reports</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-user"></i><span class="kt-menu__link-text">HR Reports</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-clipboard"></i><span class="kt-menu__link-text">IPO Reports</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-graphic-1"></i><span class="kt-menu__link-text">Finance Margins</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-graphic-2"></i><span class="kt-menu__link-text">Revenue Reports</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="kt-menu__item ">
                                <h3 class="kt-menu__heading kt-menu__toggle">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Project Reports</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </h3>
                                <ul class="kt-menu__inner">
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                                            <span class="kt-menu__link-text">Coca Cola CRM</span>
                                        </a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                                            <span class="kt-menu__link-text">Delta Airlines Booking Site</span>
                                        </a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                                            <span class="kt-menu__link-text">Malibu Accounting</span>
                                        </a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                                            <span class="kt-menu__link-text">Vineseed Website Rewamp</span>
                                        </a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                                            <span class="kt-menu__link-text">Zircon Mobile App</span>
                                        </a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                                            <span class="kt-menu__link-text">Mercury CMS</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="kt-menu__item ">
                                <h3 class="kt-menu__heading kt-menu__toggle">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">HR Reports</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </h3>
                                <ul class="kt-menu__inner">
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                            <span class="kt-menu__link-text">Staff Directory</span>
                                        </a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                            <span class="kt-menu__link-text">Client Directory</span>
                                        </a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                            <span class="kt-menu__link-text">Salary Reports</span>
                                        </a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                            <span class="kt-menu__link-text">Staff Payslips</span>
                                        </a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                            <span class="kt-menu__link-text">Corporate Expenses</span>
                                        </a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                            <span class="kt-menu__link-text">Project Expenses</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="kt-menu__item ">
                                <h3 class="kt-menu__heading kt-menu__toggle">
                                    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                    <span class="kt-menu__link-text">Reporting Apps</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </h3>
                                <ul class="kt-menu__inner">
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Report Adjusments</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Sources & Mediums</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Reporting Settings</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Conversions</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Report Flows</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><span class="kt-menu__link-text">Audit & Logs</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Apps</span><i class="kt-menu__hor-arrow la la-angle-down"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="#" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">eCommerce</span>
                            </a>
                        </li>
                        <li class="kt-menu__item kt-menu__item--submenu" data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                            <a href="#" class="kt-menu__link kt-menu__toggle">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">Audience</span><i class="kt-menu__hor-arrow la la-angle-right"></i>
                            </a>
                            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-users"></i><span class="kt-menu__link-text">Active Users</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-interface-1"></i><span class="kt-menu__link-text">User Explorer</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-lifebuoy"></i><span class="kt-menu__link-text">Users Flows</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-graphic-1"></i><span class="kt-menu__link-text">Market Segments</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-graphic"></i><span class="kt-menu__link-text">User Reports</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="#" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">Marketing</span>
                            </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true">
                            <a href="#" class="kt-menu__link ">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">Campaigns</span>
                                <span class="kt-menu__link-badge"><span class="kt-badge kt-badge--success">3</span></span>
                            </a>
                        </li>
                        <li class="kt-menu__item kt-menu__item--submenu" data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                            <a href="#" class="kt-menu__link kt-menu__toggle">
                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                <span class="kt-menu__link-text">Cloud Manager</span><i class="kt-menu__hor-arrow la la-angle-right"></i>
                            </a>
                            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link ">
                                            <i class="kt-menu__link-icon flaticon-add"></i><span class="kt-menu__link-text">File Upload</span>
                                            <span class="kt-menu__link-badge"><span class="kt-badge kt-badge--danger">3</span></span>
                                        </a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-signs-1"></i><span class="kt-menu__link-text">File Attributes</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-folder"></i><span class="kt-menu__link-text">Folders</span></a>
                                    </li>
                                    <li class="kt-menu__item " aria-haspopup="true">
                                        <a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-cogwheel-2"></i><span class="kt-menu__link-text">System Settings</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- end: Header Menu -->