<!-- begin::Demo Panel -->
<div id="kt_demo_panel" class="kt-demo-panel">
    <div class="kt-demo-panel__head">
        <h3 class="kt-demo-panel__title">
            Select A Demo
            <!--<small>5</small>-->
        </h3>
        <a href="#" class="kt-demo-panel__close" id="kt_demo_panel_close"><i class="flaticon2-delete"></i></a>
    </div>
    <div class="kt-demo-panel__body">
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Default </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-_Default.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/default/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/default/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 2 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-2.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/demo2/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/demo2/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 3 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-3.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/demo3/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/demo3/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item kt-demo-panel__item--active">
            <div class="kt-demo-panel__item-title"> Demo 4 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-4.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/demo4/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/demo4/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 5 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-5.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/demo5/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/demo5/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 6 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-6.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/demo6/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/demo6/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 7 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-7.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/demo7/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/demo7/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 8 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-8.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/demo8/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/demo8/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 9 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-9.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/demo9/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/demo9/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 10 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-10.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/demo10/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/demo10/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 11 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-11.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/demo11/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/demo11/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 12 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-12.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="/metronic/tools/builder/demo12/index.html" class="btn btn-brand btn-elevate " target="_blank">Default</a> <a href="/metronic/tools/builder/demo12/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 13 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-13.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="#" class="btn btn-brand btn-elevate disabled" >Coming soon</a> </div>
            </div>
        </div>
        <div class="kt-demo-panel__item ">
            <div class="kt-demo-panel__item-title"> Demo 14 </div>
            <div class="kt-demo-panel__item-preview">
                <img src="./assets/media/demos/Demo-14.jpg" alt=""/>
                <div class="kt-demo-panel__item-preview-overlay"> <a href="#" class="btn btn-brand btn-elevate disabled" >Coming soon</a> </div>
            </div>
        </div>
        <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" target="_blank" class="kt-demo-panel__purchase btn btn-brand btn-elevate btn-bold btn-upper">Buy Metronic Now!</a>
    </div>
</div>
<!-- end::Demo Panel -->